.profile,.profile__actions,.indexpage
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.indexpage{
    flex-direction: column;
}
.profile__actions{
    justify-content: start;
    margin: 10px 0px;
}
.profile__actions button{
    margin: 5px 20px 0px 0px;
    border: none;
    font-size: 17px;
    padding: 10px;
    min-width: 80px;
    border-radius: 8px;
    color:  rgb(111, 104, 218);
    border: 1px solid rgba(178, 178, 178, 0.399);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.profile__card{
    border-radius: 8px;
    border: 1px grey;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.profile__card img{
    max-width: 80%;
    border-radius: 8px;
    margin: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.profile__body{
padding: 0px 10px;
}